.chess-board {
  display: grid;
  grid-template-columns: repeat(8, min(60px, 10vw, 10vh));
  grid-template-rows: repeat(8, min(60px, 10vw, 10vh));
  border: solid 1px grey;
}

.cell {
  border: solid 1px grey;
}
