.chess-board {
  display: grid;
  grid-template-columns: auto 1fr;
}

.chess-board > .board {
  display: grid;
  grid-template-columns: repeat(8, min(60px, 10vw, 10vh));
  grid-template-rows: repeat(8, min(60px, 10vw, 10vh));
  border: solid 1px grey;
}

.chess-board > .row-marks,
.chess-board > .column-marks {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: min(2rem, 5vw, 5vh);
}

.chess-board > .row-marks {
  grid-template-columns: min(60px, 10vw, 10vh);
  grid-template-rows: repeat(8, min(60px, 10vw, 10vh));
}


.chess-board > .column-marks {
  grid-template-columns: repeat(8, min(60px, 10vw, 10vh));
  grid-template-rows: min(60px, 10vw, 10vh);
  grid-column: 2;
}

.chess-board .mark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(1.5rem, 4vw, 4vh);
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: crosshair;
}

.cell:not(.knight):hover {
  background-image: url("../assets/crosshairs.svg");
}

.cell:not(.knight).black:hover {
  filter: invert();
  background-color: white;
}

.cell.black {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.cell > .knight {
  display: block;
  max-width: 50%;
}

.cell.black > .knight {
  filter: invert();
}

.cell:hover > .knight {
  cursor: pointer;
}

.cell > .crosshair {
  display: block;
  max-width: 50%;
}

.cell.black > .crosshair {
  filter: invert();
}

